<div ng-controller="RJP.MultiUrlPickerController" class="umb-editor umb-contentpicker">
    <ng-form name="multiUrlPickerForm">
        <div ui-sortable="sortableOptions" ng-model="renderModel">
            <umb-node-preview ng-repeat="node in renderModel"
                              icon="node.icon"
                              name="node.name"
                              published="node.published"
                              description="node.url"
                              sortable="true"
                              allow-remove="true"
                              allow-open="true"
                              on-remove="remove($index)"
                              on-open="edit($index)">
            </umb-node-preview>
        </div>

        <a ng-show="!cfg.maxNumberOfItems || renderModel.length < cfg.maxNumberOfItems"
           class="umb-node-preview-add"
           href=""
           ng-click="openLinkPicker()"
           prevent-default>
            <localize key="general_add">Add</localize>
        </a>

        <input type="hidden" name="minCount" ng-model="renderModel" />
        <input type="hidden" name="maxCount" ng-model="renderModel" />

        <div class="help-inline" val-msg-for="minCount" val-toggle-msg="minCount">
            You need to add at least {{cfg.minNumberOfItems}} items
        </div>

        <div class="help-inline" val-msg-for="maxCount" val-toggle-msg="maxCount">
            You can only have {{model.config.maxNumberOfItems}} items selected
        </div>
    </ng-form>
</div>